$font-size-small: 0.8rem;
$font-size-regular: 1rem;
$font-size-medium: 1.5rem;
$font-size-large: 2rem;
$font-size-extra-large: 4rem;

.font-size-small {
    font-size: $font-size-small;
}

.font-size-regular {
    font-size: $font-size-regular;
}

.font-size-medium {
    font-size: $font-size-medium;
}

.font-size-large {
    font-size: $font-size-large;
}

.font-size-extra-large {
    font-size: $font-size-extra-large;
}